
<div class="gridContainer">
    <div class="mapTools">
<!--        <textarea ng-model="printScreen.text"></textarea>-->
        <div class="imageSplitterForm">
<!--
            <form ng-submit="splitImage()">
                <label>Width</label><input type="string" ng-model="imageRef.width" placeholder="258"><br>
                <label>Height</label><input type="string" ng-model="imageRef.height" placeholder="20834"><br>
                <label>Cell Width</label><input type="string" ng-model="imageRef.cellWidth" placeholder="32"><br>
                <label>Cell Height</label><input type="string" ng-model="imageRef.cellHeight" placeholder="32"><br>
                <button type="submit">Split Image</button><button type="button" ng-click="displayWorld()">Display World</button>
            </form>
-->
            <label>Map X: </label><input type="number" ng-model="currentMap.x" ng-change="fetchMap()"><br>
            <label>Map Y: </label><input type="number" ng-model="currentMap.y" ng-change="fetchMap()"><br>
            <label>Map Coordinates: </label><input type="string" ng-model="currentMap.mapCoordinates" disabled><br>
            <button type="button" ng-click="saveMap()">Save Map</button>
            <button type="button" ng-click="saveWorld()">Save World</button>
        </div>
        
    </div>
    <div class="subControls">
        
    </div>
    <div ng-if="tileColumnsReady">
        <div class="tileSetSheet" style="grid-template-columns: repeat({{tileColumns}}, 32px); height: 80; overflow: scroll;">
            <div ng-repeat="tile in tileSet" class="{{tile}} tileItem" ng-click="copyTile(tile)"></div>
        </div>
    </div>
    <div id="renderMap">
        <div ng-repeat="mapTile in rawMap track by $index" class="tileItem" ng-click="pasteTile($index)">
            <div class="tileBG tileItem {{mapTile[0]}}"></div>
            <div class="tileFG tileItem {{mapTile[1]}}">
                <p><span ng-if="mapTile[3] == 'U'">U</span><span ng-if="mapTile[2] =='D'">D</span></p>
        
            </div>
        </div>
        <div class="controlContainer">
            <div id="mapControls">
                <button type="button" ng-click="toggleFGBG()">{{toggleTile}}</button>
                <button type="button" ng-click="compileMap()">Compile</button>
                <button type="button" ng-click="copyPassable()">Passable</button>
                <button type="button" ng-click="copyUnpassable()">Unpassable</button>
                <button type="button" ng-click="copyDoor()">Door</button>
                <button type="button" ng-click="eraseClass()">Erase</button>
                <button ng-click="undoMap()">Undo</button>
                <button ng-click="redoMap()">Redo</button>
                <button ng-click="bucketMap()">Bucket</button>
            </div>
            <div>
                <label>Hex Map Color</label>
                <input type="text" ng-model="hexColor" ng-change="updateColor()">
                <div id="mapColor" style="width: 20px; height: 20px; border: 1px solid black; background: {{hexColor}};"></div>
            </div>
        </div>
    </div>
</div>


<script src="./../assets/maps/maps.json"></script>
