
<div class="gridContainer">
    <div class="mapTools">
        <textarea ng-model="printScreen.text"></textarea>
        <div class="imageSplitterForm">
            <form ng-submit="splitImage()">
                <label>Width</label><input type="string" ng-model="imageRef.width" placeholder="258"><br>
                <label>Height</label><input type="string" ng-model="imageRef.height" placeholder="20834"><br>
                <label>Cell Width</label><input type="string" ng-model="imageRef.cellWidth" placeholder="32"><br>
                <label>Cell Height</label><input type="string" ng-model="imageRef.cellHeight" placeholder="32"><br>
                <button type="submit">Split Image</button><button type="button" ng-click="displayWorld()">Display World</button>
            </form>
        </div>
        
    </div>
    <div class="subControls">
        <button ng-click="toggleFGBG()">{{toggleTile}}</button>
    </div>
    <div ng-if="tileColumnsReady">
        <div class="tileSetSheet" style="grid-template-columns: repeat({{tileColumns}}, 32px); height: 80; overflow: scroll;">
            <div ng-repeat="tile in tileSet" class="{{tile}} tileItem" ng-click="copyTile(tile)"></div>
        </div>
    </div>
    <div id="renderMap">
        <div ng-repeat="mapTile in currentMap track by $index" class="tileItem" ng-click="pasteTile($index)">
            <div class="tileBG tileItem {{mapTile[0]}}"></div>
            <div class="tileFG tileItem {{mapTile[1]}}"></div>
        </div>
    </div>
</div>


<script src="./../assets/maps/maps.json"></script>
